.header-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #4a565945;
}
.header-right{
  display: flex;
  width: 200px;
  justify-content: space-between;
  padding-right: 10px;
}
.header-logo{
  height: 100px;
  margin: 10px;
}

.header-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-name{
  font-size: 50px;
  font-family: fantasy;
}

.country-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.country-text{
  font-family: fantasy;
  font-size: 20px;
  color: grey;
}
.select-container{
  font-family: 'Times New Roman', Times, serif;
}

.profile-pic-container{
  display: flex;
  align-items: center;
  padding: 5px;
  margin-right: 20px;
}
.user-profile-pic{
  width: 50px;
  border-radius: 20px;
}